*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ffd6e7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    width:350px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    animation:fadeIn 1s;
}

.hidden{
    display:none;
}

h1{
    color:#ff2d75;
    margin-bottom:15px;
}

h2{
    color:#333;
    margin-bottom:15px;
}

p{
    color:#555;
    line-height:1.6;
    margin:20px 0;
}

button{
    background:#ff2d75;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:30px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    background:#ff0066;
    transform:scale(1.05);
}

.emoji{
    font-size:40px;
    margin:20px 0;
}

.photo{
    width:250px;
    border-radius:20px;
    margin-top:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

.msg{
    color:#8a2be2;
    font-size:22px;
    font-weight:bold;
    margin-top:20px;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.8);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
